<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CoffeeDB"
			 connectionString="Server=DESKTOP-SQ1DJO2\MSSQLSERVER05;Database=QuanLyCaPhe;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>